.app {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.inputZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.canvasZone {
  display: flex;
  flex-direction: row;
}

.inputCanvas {
  margin-right: 20px;
}